@using System.Collections.Generic;

@{
	var libraryCssFileList = (List<string>)ViewBag.LibraryCssFileList;
	var moduleCssFileList = (List<string>)ViewBag.ModuleCssFileList;
	var libraryJsFileList = (List<string>)ViewBag.LibraryJsFileList;
	var moduleJsFileList = (List<string>)ViewBag.ModuleJsFileList;
	var appDependencyInjections = (List<string>)ViewBag.AppDependencyInjections;
	var languageFile = "/plugins/webvella-core/lang/" + ViewBag.Lang + ".js?v=" + ViewBag.CacheBreaker;
	var devCssClass = "";
	if (ViewBag.DevelopmentMode == "true")
	{
		devCssClass = "debug";
	}
}


<!DOCTYPE html>

<html lang="en" ng-app="wvApp" ng-controller="ApplicationController as appData">
<head>
	<meta charset="utf-8" />
	<meta name="referrer" content="origin" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title ng-bind="appData.pageTitle"></title>
	<!-- library > css -->
	@foreach (var cssFile in libraryCssFileList)
	{
		<link href="@cssFile" rel="stylesheet" />
	}
	<!-- module > css -->
	@foreach (var cssFile in moduleCssFileList)
	{
		<link href="@cssFile" rel="stylesheet" />
	}
</head>
<body class="theme-{{appData.bodyColor}} @devCssClass" ng-cloak ng-class="{'mini-sidebar':appData.$storage.isMiniSidebar}">
	<toast></toast>

	@RenderBody()

	<!-- library > js -->
	@foreach (var jsFile in libraryJsFileList)
	{
		<script src="@jsFile"></script>
	}

	@* Core Application module definition *@
	<script>
        @*In order to dynamically add plug-in modules, the appCore definition should be with server side aspect*@
		(function () {
			'use strict';
			angular
                .module('wvApp', [
                    // Angular modules
                    'ngAnimate', 'ngCookies', 'ngSanitize', //'ngTouch'
                     // 3rd Party Modules
                    'ui.router', 'ngMessages','ngToast', 'xeditable', 'ui.bootstrap', 'as.sortable', 'checklist-model','ui.tree',
					'ngCkeditor', 'ngFileUpload', 'ngStorage', 'ui.bootstrap.datetimepicker','RecursionHelper','angular-loading-bar',
					'doubleScrollBars','angular-bind-html-compile','oc.lazyLoad','ui.ace','pascalprecht.translate',
                    //Plug-in app injects
					@foreach(var appInjection in appDependencyInjections)
					{
					@:"@appInjection",
					}

                ])
                .config(config)
                .run(run);

			// Configuration ///////////////////////////////////
			config.$inject = ['$httpProvider', '$urlRouterProvider', '$logProvider', 'wvAppConstants', 'ngToastProvider'];
			function config($httpProvider,$urlRouterProvider, $logProvider, wvAppConstants, ngToastProvider) {

				//$httpProvider.defaults.headers.common["X-Requested-With"] = 'XMLHttpRequest';

				$urlRouterProvider.otherwise('/login');
				$httpProvider.useApplyAsync("true");
				$logProvider.debugEnabled(wvAppConstants.debugEnabled);
				moment.locale('@ViewBag.Lang');
				ngToastProvider.configure({
					animation: 'fade',
					horizontalPosition: 'center',
					timeout: 2000,
					maxNumber: 1
				});
			};

			// Run //////////////////////////////////////
			run.$inject = ['editableOptions', 'editableThemes'];
			function run(editableOptions, editableThemes) { editableOptions.theme = 'bs3'; editableThemes.bs3.buttonsClass = 'btn-sm'; };
		})();
	</script>
	<script src="~/application.controller.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/application.constants.js?v=@ViewBag.CacheBreaker"></script>

	<!-- Server generated global variables -->
	<script>
		@ViewBag.GlobalVariablesJs
		var htmlCacheBreaker = @ViewBag.CacheBreaker;
		var GlobalLanguage = '@ViewBag.Lang';
		var GlobalCompanyName = '@ViewBag.CompanyName';
		var GlobalCompanyLogo = '@ViewBag.CompanyLogo';
	</script>
	<script src="@languageFile"></script>

	<!-- module > js -->
	@foreach (var jsFile in moduleJsFileList)
	{
		<script src="@jsFile"></script>
	}

	@ViewBag.PluginModulesJsFileStringArray
	@RenderSection("PageScripts", false)
</body>



</html>