@addTagHelper *, WebVella.Erp.Plugins.Core
@addTagHelper *, WebVella.Erp.Web
@using WebVella.Erp.Web.Components;
@using WebVella.Erp.Web.Models;
@{
	var options = (PcFieldSelect.PcFieldSelectOptions)ViewBag.Options;
	var node = (PageBodyNode)ViewBag.Node;
	var fieldModel = (PcFieldSelect.PcFieldSelectModel)ViewBag.Model;
	var labelMode = (LabelRenderMode)ViewBag.LabelMode;
	var mode = (FieldRenderMode)ViewBag.Mode;
}
<wv-field-select label-mode="@labelMode" label-text="@options.LabelText" label-warning-text="@fieldModel.LabelWarningText"
				 label-error-text="@fieldModel.LabelErrorText" label-help-text="@fieldModel.LabelHelpText" field-id="@fieldModel.FieldId"
				 name="@options.Name" class="@options.Class" value="@fieldModel.Value" default-value="@fieldModel.DefaultValue" mode="@mode" access="@fieldModel.Access"
				 init-errors="@fieldModel.InitErrors" validation-errors="@fieldModel.ValidationErrors" record-id="@fieldModel.RecordId"
				 entity-name="@fieldModel.EntityName" api-url="@fieldModel.ApiUrl" access-denied-message="@fieldModel.AccessDeniedMessage"
				 empty-value-message="@fieldModel.EmptyValueMessage" required="@fieldModel.Required" placeholder="@fieldModel.Placeholder"
				 description="@fieldModel.Description" locale="@fieldModel.Locale" options="@fieldModel.Options" is-visible="(bool)ViewBag.IsVisible"  ajax-datasource="@options.AjaxDatasource">
	@if (options.ShowIcon)
	{
		<wv-field-prepend><span class='input-group-text'><i class='fa fa-fw fa-indent'></i></span></wv-field-prepend>
	}
</wv-field-select>