<!DOCTYPE html>
<html lang="@ErpSettings.Lang">
<head>
	<base href="/" />
	<vc:render-hook placeholder="head-top" page-model="@Model"  model="null"></vc:render-hook>
	<wv-includes></wv-includes>
	<vc:render-hook placeholder="head-bottom" page-model="@Model"  model="null"></vc:render-hook>
</head>
<body class="@ViewData["BodyClass"]" style="border-color:@ViewData["BodyBorderColor"]">
	<div id="body-inner-wrapper">
		<vc:nav page-model="@Model"></vc:nav>
		<vc:toobar-menu page-model="@Model"></vc:toobar-menu>
		<div id="main-wrapper" class="row no-gutters">
			<div id="sidebar" class="col-auto">
				<vc:sidebar-menu page-model="@Model"></vc:sidebar-menu>
			</div>
			<div id="content" class="col">
				<div id="body-inner-wrapper-2">
					<div class="container-fluid">
						@RenderBody()
					</div>
				</div>
			</div>
		</div>
	</div>
	<vc:render-hook placeholder="body-top" page-model="@Model"  model="null"></vc:render-hook>
	<vc:render-hook placeholder="body-bottom" page-model="@Model"  model="null"></vc:render-hook>
	<vc:screen-message></vc:screen-message>
</body>
</html>
