@addTagHelper *, WebVella.Erp.Plugins.Core
@addTagHelper *, WebVella.Erp.Web
@using WebVella.Erp.Api.Models;
@using WebVella.Erp.Web.Models;
@using WebVella.Erp.Plugins.Project.Components;

@{
	var options = (PcProjectWidgetTasks.PcProjectWidgetTasksOptions)ViewBag.Options;
	var datasets = (List<ErpChartDataset>)ViewBag.Datasets;
	var openTasks = (int)ViewBag.OpenTasks;
	var closedTasks = (int)ViewBag.ClosedTasks;
	var overdueTasks = (int)ViewBag.OverdueTasks;
	var dueToday = (int)ViewBag.DueTodayTasks;
}
<wv-row flex-vertical-alignment="Center" class="w-100 h-100" no-gutters="true">
	<wv-column class="flex-grow-0">
		<wv-chart type="Doughnut" datasets="@datasets" width="100px" height="100px"></wv-chart>		
	</wv-column>
	<wv-column class="flex-grow-1 pl-4">
		<wv-row class="mb-2">
			<wv-column>
				<div>Open</div>
				<div><strong><i class="fas fa-circle go-purple"></i> @openTasks</strong></div>			
			</wv-column>
			<wv-column>
				<div>Overdue</div>
				<div class="@(overdueTasks > 0 ? "go-red" : "go-gray")">@overdueTasks</div>		
			</wv-column>
		</wv-row>
		<wv-row class="mb-2">
			<wv-column>
				<div>Closed</div>
				<div><strong><i class="fas fa-circle go-teal"></i> @closedTasks</strong></div>	
			</wv-column>
			<wv-column>
				<div>Due today</div>
				<div class="@(dueToday > 0 ? "go-orange" : "go-gray")">@dueToday</div>		
			</wv-column>
		</wv-row>		
	</wv-column>
</wv-row>