@addTagHelper *, WebVella.Erp.Plugins.Core
@addTagHelper *, WebVella.Erp.Web
@using WebVella.Erp.Api.Models;
@using WebVella.Erp.Web.Models;
@using WebVella.Erp.Plugins.Project.Components;

@{
	var options = (PcProjectWidgetOverdueTasks.PcProjectWidgetOverdueTasksOptions)ViewBag.Options;
	var records = (List<EntityRecord>)ViewBag.Records;
	var gridColumn = new List<GridColumn>() {
		new GridColumn(){
			Name = "name",
			Width = "",
			Label = "name"
		},
		new GridColumn(){
			Name = "user",
			Width = "200px",
			Label = "user"
		},
		new GridColumn(){
			Name = "date",
			Width = "120px",
			Label = "date"
		}
	};
}
<wv-grid bordered="true" small="true" columns="@gridColumn" has-tfoot="false">
	@foreach (var record in records)
	{
		<wv-grid-row>
			<wv-grid-column>@Html.Raw((string)record["task"])</wv-grid-column>
			<wv-grid-column>@Html.Raw((string)record["user"])</wv-grid-column>
			<wv-grid-column class="go-red">@(((DateTime)record["date"]).ToString("dd MMM yyyy"))</wv-grid-column>
		</wv-grid-row>
	}
	@if (records.Count == 0) { 
	<tbody>
		<tr>
			<td colspan="@gridColumn.Count"><div class="alert alert-info m-0">No tasks</div></td>
		</tr>
	</tbody>
	}
</wv-grid>